
.registerform{
background-color:#e1eff0;
}

.logo{
width:500px;
height:300px;
}

.head{
color:blue;
font-size:40px;
}
.head1{
position:relative;
margin-left:5px;
}

.bal{
color:green;
position-relative;
margin-left:600px;
}

.Balenq{
color:#249c28;
background-color:white;
width:400px;
height:50px;
border-radius:5px;
}


.Balenq:hover{
color:white;
background-color:#249c28;
width:400px;
height:50px;
border-radius:5px;
}

.Fund{
color:blue;
background-color:white;
width:400px;
height:50px;
border-radius:5px;
}


.Fund:hover{
color:white;
background-color:blue;
width:400px;
height:50px;
border-radius:5px;
}

.Hist{
color:#fa8500;
background-color:white;
width:400px;
height:50px;
border-radius:5px;
}


.Hist:hover{
color:white;
background-color:#fa8500;
width:400px;
height:50px;
border-radius:5px;
}

.Out{
color:Red;
background-color:white;
width:400px;
height:50px;
border-radius:5px;
}


.Out:hover{
color:white;
background-color:Red;
width:400px;
height:50px;
border-radius:5px;
}

.Fil{
color:Black;
background-color:white;
width:400px;
height:50px;
border-radius:5px;
}


.Fil:hover{
color:white;
background-color:Black;
width:400px;
height:50px;
border-radius:5px;
}


.fabhead{
width:500px;
height:300px;
}

.head2{
text-align:center;
}

.bodylog{
background-color:white;
border-radius:10px;
position:relative;
margin-left:100px;
width:300px;
height:200px;
}
.pwd{
color:blue;
font-family:Sans-Serif;
font-size:13px;
}

.link1{
font-family:Sans-Serif;
font-size:13px;
color:green;
}

.Trans{
color:green;
}

.money{
width:550px;
height:400px;
}

.Credeb{
width:150px;
height:100px;
}




